section.section.article
  .container
    .article_btn-wrapper
      button.article__btn(type="button") Получить бесплатное занятие
    .article__title Курсы или репетитор: что выбрать?
    p.article__content
        |Стараний ребенка, усилий школьного учителя и помощи родителей может быть недостаточно для хороших оценок и высокого балла на экзамене. И здесь на помощь школьнику приходит дополнительное образование: специальные курсы или занятия с репетитором.
        |Но подобрать подходящего преподавателя или курсы не так-то просто. Если ребенок не нашел общий язык с педагогом или не справляется с предложенной нагрузкой, вы можете потерять время и деньги. В онлайн-школе «Фоксфорд» специалисты сначала определяют, что именно вам нужно, а потом предлагают вам репетитора или подбирают профильные курсы. 
 
    .article__title Кому подойдут курсы?
    p.article__content
      |Онлайн-курсы подойдут мотивированному школьнику, который успевает по школьной программе, но хочет получить углубленные знания по предмету, победить на олимпиаде или сдать ОГЭ и ЕГЭ на 85+ баллов. Чтобы ваш способный ребенок не скучал на уроках и получил дополнительную пищу для ума, отправьте его на углубленный или олимпиадный курс от преподавателей МФТИ или ВШЭ. Это поможет развить его способности, усовершенствовать навыки и поступить в престижный вуз по выбранной специальности.
 
    .article__title Кому подойдет репетитор?
    p.article__content
      |Репетитор подойдет ребенку, который нуждается в индивидуальной подготовке. Если у ребенка плохие оценки, есть пробелы в знаниях, если он «не тянет» программу — поможет репетитор. В «Фоксфорде» есть возможность посетить бесплатное пробное занятие. После регистрации консультант подберет вам удобную дату и время вводного занятия. Само занятие проходит по Skype, как и последующая работа с репетитором. Оценив уровень вашего ребенка и его индивидуальные потребности на бесплатном занятии, методист выберет ему подходящего репетитора. Уже на следующий день ребенок может приступить к занятиям. Если вы захотите поменять репетитора, это не проблема: специалисты предложат вам другого.
 
    .article__title Онлайн-курс или репетитор?
    p.article__content
      |Каждый курс «Фоксфорда» — это серия еженедельных вебинаров по выбранному предмету. В определенное время школьники подключаются к трансляции. Во время вебинара можно  задать вопрос преподавателю через чат, а после занятия в личном кабинете учеников ждёт домашнее задание. Задания проверяются автоматически. При необходимости можно просмотреть запись занятия. 
      |Индивидуальные занятия с репетитором по Skype проходят тет-а-тет в удобное для ученика время. Ребенок и репетитор слышат и видят друг друга и находятся в постоянном контакте. Количество занятий зависит от способностей ребенка и цели, которой необходимо достичь.
    .article__title Несколько фактов о Фоксфорде.
    ul.article__content
      li Фоксфорд — крупнейшая онлайн-школа в России. В ней учатся уже более 1 000 000 школьников.
      li Педагоги — эксперты ЕГЭ и ОГЭ, составители олимпиад и преподаватели лучших вузов страны.
      li Выпускники Фоксфорда сдают ЕГЭ на 25 баллов выше, чем в среднем по стране. 
      li Выпускники Фоксфорда поступают на бюджет в МГУ, НИУ ВШЭ, МФТИ и МГТУ им. Н. Э. Баумана.
      li Учиться в школе можно с любого устройства: компьютера, планшета или смартфона.
 
    p.article__content 
      |Посмотрите ролик о том, как проходят занятия в Фоксфорде, а лучше попробуйте сами. Первое занятие — бесплатное.
    
    p.article__content.video
      iframe(width="560" height="315" src="https://www.youtube.com/embed/PjJ0I_9Vq9s" frameborder="0" allowfullscreen)
    .article_btn-wrapper
      button.article__btn(type="button") Получить бесплатное занятие