.header
  .container
      a.logo.logo_foxford(href="https://foxford.ru/" target="_blank")
          img.logo__img(src="assets/img/foxword.svg" title="Фоксворд")
      a.logo.logo_dnevnik(href="https://dnevnik.ru/" target="_blank")
          img.logo__img(src="assets/img/dnevnik.svg" title="Дневник")