section.section.info
  .container
    .info__title
      span.info__icon.info__icon_left
      span.info__icon.info__icon_right
      h1.title Как улучшить средний балл по предметам гуманитарного цикла?
    .info__content
      ul.texts.texts_top.info__texts
        li.texts__item.text__item_0
          svg.texts__icon
            use(xlink:href='assets/img/sprite/sprite.svg#fig1')
          .texts__text
            h3.texts__title Поработайте над грамотностью. 
            p.texts__content 
              |На портале Грамота.ру всегда можно 
              |проверить правописание слов, повторить
              |правила русского языка и даже задать
              |вопрос консультанту, если ответа не нашлось на сайте. 
        li.texts__item.text__item_2
          svg.texts__icon
            use(xlink:href='assets/img/sprite/sprite.svg#fig2')
          .texts__text
            h3.texts__title Учите иностранные языки в формате игры.
            p.texts__content
              |Если традиционный школьный формат изучения языков даётся ребёнку с трудом, попробуйте Lingualeo — ресурс, который помогает превратить изучение языков в игру. 
        li.texts__item.text__item_4
          svg.texts__icon
            use(xlink:href='assets/img/sprite/sprite.svg#fig3')
          .texts__text
            h3.texts__title Подтяните знания с репетитором. 
            p.texts__content
              |Чтобы ребёнок не утратил мотивацию к учебе, иногда нужна помощь профессионала. Репетитор «Фоксфорда» подготовит 		к контрольным и составит программу обучения с учетом уровня знаний ребёнка.              
      .info__diagram
        img.info__graf(src="assets/img/backinfo.svg" title="диаграмма")
        span.info__line.info__line_one
        span.info__line.info__line_two
        span.info__line.info__line_three
        span.info__line.info__line_four
        span.info__line.info__line_five
      ul.texts.texts_bottom.info__texts
        li.texts__item.text__item_1
          svg.texts__icon
            use(xlink:href='assets/img/sprite/sprite.svg#fig4')
          .texts__text
            h3.texts__title Читайте. 
            p.texts__content
              |В процессе чтения ребёнок усваивает правила грамматики, учится образно мыслить и тренирует зрительную память. 20 страниц художественной литературы в день — необходимый минимум.
        li.texts__item.text__item_3
          svg.texts__icon
            use(xlink:href='assets/img/sprite/sprite.svg#fig5')
          .texts__text
            h3.texts__title Развивайте фантазию. 
            p.texts__content
              |Плохо даются сочинения и творческие работы? Развивайте семантическую память и воображение: составьте список из 10 случайных слов и свяжите их в один рассказ.               
      .info__images.info__images_one
        img.info__images-item(src="assets/img/child1.svg")
      .info__images.info__images_two  
        img.info__images-item(src="assets/img/child2.svg")