main.main
  .container
    .main__logo 
      img.main__logo-img(src="assets/img/front.png" title="Гид по дистанционному образованию от Фоксфорд и Дневник.ру")
    .main__title
      span.main__icon.main__icon_left
      span.main__icon.main__icon_right
      h1.title Гид по дистанционному образованию от Фоксфорд и Дневник.ру
    p.main__content
      span Интернет предлагает различные варианты как закрепить и углубить знания по школьным предметам. 
      span Какие из них гарантируют результат?
      span Проанализируйте успехи ребенка в трех областях наук и получите рекомендации 
      |по улучшению его успеваемости и расширению кругозора!
    .partion.main__partion
      h2.partion__title Выберите интересующую вас научную область!
      ul.partion__list
        li.partion__item.partion__item-e
          a.partion__link.partion__link-e(href="/") Естественные науки
        li.partion__item.partion__item-t 
          a.partion__link.partion__link-t(href="/") Точные науки
        li.partion__item.partion__item-g
          a.partion__link.partion__link-g(href="/") Гуманитарные науки

