.marks {
  display: block;
  text-align: center;
  

  .container {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: #e0dfdf;
  }
}

.mark__title {
  font-family: Luga;
  font-size: rem(22px);
  font-weight: 400;
  color: #0b0b0b;
  display: inline-block;
  letter-spacing: 1px;
}

.mark__mark {
  font-family: Luga;
  margin-left: 20px;
  font-size: rem(30px);
  color: #ff644b;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
}