extends _main-layout
          
block content
    include common/_main
    include common/_info
    include common/_article

    #modal-parent
        .parent.modal
            .parent__title
            .parent__content
            a.parent__close(href="#close" rel="modal:close") Close
    #modal-child
        .child.modal
            .child__title Выберите ребенка
            ul.child__content
                
                
                        

             
